---
   make_zip: true
   zip_name: "{{zipname}}"
   doc_name: "SITE"
   entity_list:
     - id: "{{id}}"
       third_octet: {{third_oct}}
       disa_subnet: "{{disa_subnet}}"
       ccsd: "{{CCSD}}"
       bw_mbps: 150
       location: "{{location}}"
       region: "{{region}}"
...