Name,Type,Address,ObjectID,Description,ID,Group1,Group2,Icon,Bitmap,Bitmap Scale,Shape/Thickness,Parent,Coordinates,Linked Nodes,Show Label,API Exec,MAC,Polling Agent,Poll Interval,Poll Timeout,Poll Retries,Status Variable,Status Value,Status Expression,Services,Status,Get Community,Set Community,Trap Community,Read Access Mode,Read/Write Access Mode,V3 NoAuth User,V3 Auth User,V3 Auth Password,V3 Priv Password
"{{hostname}}_PER","Device","10.108.{{third_oct}}.52","1.3.6.1.4.1.9.1.1707","CCSD: 71WL","","000=Unknown","000=Unknown","router1.ico","","2","Square","NEW_POP(148)","(0,64)","N/A","True","putty.exe -ssh $a","00 00 00 00 00 00","127.0.0.1","600","2","2","","0","=","","Normal-Green","wint","netman","public","SNMP V3 Priv-AES Auth-SHA","SNMP V3 Priv-AES Auth-SHA","READv3User","READv3User","12345678","12345678"
"{{hostname}}_AXS","Device","10.108.{{third_oct}}.77","1.3.6.1.4.1.9.1.1666","Layer-2 only","","000=Unknown","000=Unknown","switch.ico","","2","Square","NEW_POP(148)","(0,144)","N/A","True","putty.exe -ssh $a","00 00 00 00 00 00","127.0.0.1","600","2","2","","0","=","","Normal-Green","wint","netman","public","SNMP V3 Priv-AES Auth-SHA","SNMP V3 Priv-AES Auth-SHA","READv3User","READv3User","12345678","12345678"
"{{hostname}}_RS","Network","10.108.{{third_oct}}.52","1.3.6.1.4.1.9.1.1707","Track line status on backplane","","000=Unknown","","auto.ico","","-528","2","NEW_POP(148)","(0,144)(0,64)","","False","putty.exe -ssh $a","00 00 00 00 00 00","127.0.0.1","600","2","2","RFC1213-MIB|ifOperStatus.5","up","=","","Normal-Green","wint","netman","public","SNMP V3 Priv-AES Auth-SHA","SNMP V3 Priv-AES Auth-SHA","","READv3User","12345678","12345678"