version 15.5
service nagle
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
no service dhcp
no platform punt-keepalive disable-kernel-core
!
hostname {{hostname}}_XPER
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-intf
 description OOBM ONLY
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
vrf definition TENANT0
 description PUBLIC IP FOR CMNT / COALITION
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
vrf definition TENANT1
 description {{hostname}}
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
vrf definition TENANT2
 description UNIT NAME / POC
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
vrf definition TENANT3
 description UNIT NAME / POC
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
vrf definition TENANT4
 description UNIT NAME / POC
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
vrf definition VPN_MGMT
 description SERVICE MANAGEMENT FROM NOC
 rd 4769:9999491
 route-target export 4769:9999491
 route-target import 4769:9999490
 !
 address-family ipv4
 exit-address-family
!
logging persistent url bootflash:/log size 1073741824 filesize 1048576 threshold 75 notify
enable secret {{password}}
!
aaa new-model
!
no cdp run
!
aaa group server tacacs+ TACACS_GROUP
 server name ISE_APG_6010
 server name ISE_GAITNOC_BRAGG
 ip vrf forwarding VPN_MGMT
!
aaa authentication login AUTHC_LOGIN group TACACS_GROUP local
aaa authentication enable default group TACACS_GROUP enable
aaa authorization console
aaa authorization config-commands
aaa authorization exec AUTHZ_EXEC group TACACS_GROUP local if-authenticated
aaa authorization commands 1 AUTHZ_CMD1 group TACACS_GROUP none
aaa authorization commands 15 AUTHZ_CMD15 group TACACS_GROUP none
aaa accounting exec default start-stop group TACACS_GROUP
aaa accounting commands 1 default start-stop group TACACS_GROUP
aaa accounting commands 15 default start-stop group TACACS_GROUP
!
aaa session-id common
process cpu threshold type total rising 50 interval 600 falling 20 interval 600
no ip source-route
ip arp gratuitous none
no ip gratuitous-arps
no ip icmp rate-limit unreachable
!
ip multicast-routing distributed
ip multicast-routing vrf TENANT1 distributed
ip multicast-routing vrf TENANT2 distributed
ip multicast-routing vrf TENANT3 distributed
ip multicast-routing vrf TENANT4 distributed
!
!
no ip bootp server
!
no ip domain lookup
ip domain name jntc.army.mil
!
!
login delay 10
login on-failure log
login on-success log
no ipv6 source-route
ipv6 unicast-routing
!
!
subscriber templating
mpls label range 900000 999899 static 999900 999999
no mpls ip propagate-ttl forwarded
multilink bundle-name authenticated
!
flow record FLOW_RECORD_IPV4
 match ipv4 dscp
 match ipv4 protocol
 match ipv4 source address
 match ipv4 destination address
 match transport source-port
 match transport destination-port
 collect interface input
 collect counter bytes
 collect counter packets
!
!
flow record FLOW_RECORD_IPV6
 match ipv6 dscp
 match ipv6 protocol
 match ipv6 source address
 match ipv6 destination address
 match transport source-port
 match transport destination-port
 collect interface input
 collect counter bytes
 collect counter packets
!
!
flow record FLOW_RECORD_MPLS
 match mpls label 1 ttl
 match mpls label 1 details
 match mpls label 2 details
 match mpls label 3 details
 collect counter bytes
 collect counter packets
!
!
flow monitor FLOW_MONITOR_IPV4
 cache timeout inactive 60
 cache timeout active 3600
 cache entries 16384
 record FLOW_RECORD_IPV4
!
!
flow monitor FLOW_MONITOR_IPV6
 cache timeout inactive 60
 cache timeout active 3600
 cache entries 16384
 record FLOW_RECORD_IPV6
!
!
flow monitor FLOW_MONITOR_MPLS
 cache timeout inactive 60
 cache timeout active 3600
 cache entries 16384
 record FLOW_RECORD_MPLS
!
sampler FLOW_SAMPLER_10_PERCENT
 mode deterministic 1 out-of 10
!
!
!
key chain KC_IP_SLA
 key 1
   key-string 7 013A363B682727300263603D2B2A3B2D5A55527D
!
!
!
memory reserve critical 16384
memory free low-watermark processor 1000000
file prompt quiet
!
spanning-tree extend system-id
!
username {{username}} privilege 15 secret {{password}}
!
redundancy
 mode none
!
l2vpn
 logging pseudowire status
!
mpls ldp password required
mpls ldp password fallback 7 052829230E7E622C2A36
mpls ldp router-id Loopback0 force
!
template type pseudowire TMP_PW
 encapsulation mpls
 signaling protocol ldp
 control-word include
!
bridge-domain 380
 member Ethernet-Internal1/0/0 service-instance 380
!
bridge-domain 400
 member Ethernet-Internal1/0/0 service-instance 400
!
bridge-domain 401
 member Ethernet-Internal1/0/0 service-instance 401
!
bridge-domain 402
 member Ethernet-Internal1/0/0 service-instance 402
!
bridge-domain 403
 member Ethernet-Internal1/0/0 service-instance 403
!
bridge-domain 404
 member Ethernet-Internal1/0/0 service-instance 404
!
vlan internal allocation policy ascending
!
ip tcp mss 1400
ip tcp selective-ack
ip tcp synwait-time 10
ip tcp path-mtu-discovery
ip tcp intercept watch-timeout 60
ip tcp intercept max-incomplete low 50
ip tcp intercept max-incomplete high 100
ip tcp intercept mode watch
!
class-map match-any CMAP_ALLOWED_ICMP_UNREACHABLES
  description UNREACHABLES SENT BY THIS ROUTER
 match access-group name ACL_ALLOWED_ICMPV4_UNREACHABLES
 match access-group name ACL_ALLOWED_ICMPV6_UNREACHABLES
class-map match-all CMAP_NA_RT
  description NON ASSURED REAL TIME, RADIO BRIDGING (DISA EXP5)
 match dscp ef
class-map match-any CMAP_ICMP_PING
  description IPV4/V6 ICMP PING PACKETS
 match access-group name ACL_ICMPV4_PING
 match access-group name ACL_ICMPV6_PING
class-map match-any CMAP_IPP_MPLS_EXP_1
  description INTERNET, COMMERCIAL VPN, SCAVENGER (WINT IPSEC AH, DSCP 0,8)
 match mpls experimental topmost 1
 match precedence 1
class-map match-any CMAP_IPP_MPLS_EXP_2
  description PREFERRED ELASTIC UNCLASSIFIED, VOIP/NC SIGNAL AND TCP (WINT DSCP 9,10,11,13,40,48,56)
 match mpls experimental topmost 2
 match precedence 2
class-map match-any CMAP_IPP_MPLS_EXP_5
  description NON ASSURED REAL TIME, RADIO BRIDGING (WINT DSCP 46)
 match mpls experimental topmost 5
 match precedence 5
class-map match-any CMAP_IPP_MPLS_EXP_4
  description ASSURED REAL TIME, VOIP (WINT DSCP 41,43,45,47,49)
 match mpls experimental topmost 4
 match precedence 4
class-map match-any CMAP_IPP_MPLS_EXP_6
  description INTERNAL SIGNALING ONLY; BGP, OSPF, PIM, BFD, LDP
 match mpls experimental topmost 6
 match precedence 6
class-map match-any CMAP_IP_SPECIAL
  description IPV4 OPTIONS AND IPV6 EXTENSION HEADERS
 match access-group name ACL_IPV4_OPTIONS
 match access-group name ACL_IPV6_COMMON_EH
class-map match-any CMAP_ND
  description IPV4/V6 NEIGHBOR DISCOVERY PROTOCOLS
 match protocol arp
 match access-group name ACL_IPV6_ND
class-map match-any CMAP_DENIED_ICMP_UNREACHABLES
  description UNREACHABLES NEVER SENT BY THIS ROUTER
 match access-group name ACL_DENIED_ICMPV4_UNREACHABLES
 match access-group name ACL_DENIED_ICMPV6_UNREACHABLES
class-map match-any CMAP_IP_FRAGMENTS
  description IPV4/V6 FRAGMENTED PACKETS
 match access-group name ACL_IPV4_FRAGMENTS
 match access-group name ACL_IPV6_FRAGMENTS
class-map match-all CMAP_A_RT
  description ASSURED REAL TIME, VOIP (DISA EXP4)
 match dscp 41  43  45  47  49
class-map match-any CMAP_INTERNET
  description INTERNET, COMMERCIAL VPN, SCAVENGER (DISA EXP1)
 match access-group name ACL_IPSEC_AH
 match dscp cs1
 match precedence 0
class-map match-any CMAP_PE_UNCLASS
  description PREFERRED ELASTIC UNCLASSIFIED, VOIP/NC SIGNAL AND TCP (DISA EXP2)
 match cos  6  7
 match dscp cs5  cs6  cs7
 match dscp 9  af11  11  13  15
!
policy-map PMAP_CPP_IN
 class CMAP_ND
  police rate 50 pps
   conform-action transmit
   exceed-action drop
 class CMAP_ICMP_PING
  police rate 100 pps
   conform-action transmit
   exceed-action drop
 class CMAP_IP_SPECIAL
  police rate 100 pps
   conform-action transmit
   exceed-action drop
 class CMAP_IP_FRAGMENTS
  police rate 20 pps
   conform-action transmit
   exceed-action drop
policy-map PMAP_CORE_QUEUE_OUT
 description CORE-FACING MPLS INTERFACES (DO NOT REMARK)
 class CMAP_IPP_MPLS_EXP_4
  priority percent 10
 class CMAP_IPP_MPLS_EXP_5
  bandwidth percent 10
 class CMAP_IPP_MPLS_EXP_6
  bandwidth percent 5
 class CMAP_IPP_MPLS_EXP_2
  bandwidth percent 45
 class CMAP_IPP_MPLS_EXP_1
  bandwidth percent 10
 class class-default
  bandwidth percent 20
policy-map PMAP_CSC_QUEUE_OUT
 description DISA-FACING MPLS INTERFACES (REMARK AS NECESSARY)
 class CMAP_IPP_MPLS_EXP_4
  priority percent 20
 class CMAP_IPP_MPLS_EXP_5
  bandwidth percent 10
 class CMAP_IPP_MPLS_EXP_6
  bandwidth percent 5
 class CMAP_IPP_MPLS_EXP_2
  bandwidth percent 35
 class CMAP_IPP_MPLS_EXP_1
  bandwidth percent 10
 class class-default
  bandwidth percent 20
policy-map PMAP_IMPOSE_1_IN
 description IMPOSE EXP1/CS1 TO ALL TRAFFIC ON INGRESS (SCAVENGER/INTERNET)
 class class-default
  set dscp tunnel cs1
  set mpls experimental imposition 1
policy-map PMAP_CPP_OUT
 class CMAP_ALLOWED_ICMP_UNREACHABLES
  police rate 20 pps
   conform-action transmit
   exceed-action drop
 class CMAP_DENIED_ICMP_UNREACHABLES
  police rate 1 pps conform-action drop
policy-map PMAP_IMPOSE_2_IN
 description IMPOSE EXP2/CS2 TO ALL TRAFFIC ON INGRESS (PKI/MGMT LANS ONLY)
 class class-default
  set dscp tunnel cs2
  set mpls experimental imposition 2
policy-map PMAP_CSC_SHAPE_OUT
 description SHAPER ACCOUNTS FOR MPLS BUT NOT ETHERNET/DOT1Q ENCAP
 class class-default
  shape average 150000000   account user-defined 18
   service-policy PMAP_CSC_QUEUE_OUT
policy-map PMAP_IMPOSE_0_IN
 description IMPOSE EXP0/CS0 TO ALL TRAFFIC ON INGRESS (DEFAULT)
 class class-default
  set dscp tunnel default
  set mpls experimental imposition 0
policy-map PMAP_TOS_TO_EXP
 description MAP TOS TO EXP ON INGRESS
 class CMAP_A_RT
  set mpls experimental imposition 4
 class CMAP_NA_RT
  set mpls experimental imposition 5
 class CMAP_PE_UNCLASS
  set mpls experimental imposition 2
 class CMAP_INTERNET
  set mpls experimental imposition 1
 class class-default
  set mpls experimental imposition 0
!
!
interface Loopback0
 description MPLS LSP LOOPBACK
 ip address 10.108.{{third_oct}}.50 255.255.255.255
 ip pim sparse-mode
!
interface Loopback1
 description VPN MGMT LOOPBACK
 vrf forwarding VPN_MGMT
 ip address 10.108.{{third_oct}}.52 255.255.255.255
!
interface Loopback901
 description SHAM LINK ENDPOINT FOR TENANT1 CUSTOMERS USING OSPFV3
 vrf forwarding TENANT1
 no ip address
 shutdown
 ipv6 address fc00:10:108:{{third_oct}}::1001/128
!
interface Loopback902
 description SHAM LINK ENDPOINT FOR TENANT2 CUSTOMERS USING OSPFV3
 vrf forwarding TENANT2
 no ip address
 shutdown
 ipv6 address fc00:10:108:{{third_oct}}::1002/128
!
interface Loopback903
 description SHAM LINK ENDPOINT FOR TENANT3 CUSTOMERS USING OSPFV3
 vrf forwarding TENANT3
 no ip address
 shutdown
 ipv6 address fc00:10:108:{{third_oct}}::1003/128
!
interface Loopback904
 description SHAM LINK ENDPOINT FOR TENANT4 CUSTOMERS USING OSPFV3
 vrf forwarding TENANT4
 no ip address
 shutdown
 ipv6 address fc00:10:108:{{third_oct}}::1004/128
!
interface GigabitEthernet0/0/0
 description DISA CSC-PE - CCSD:{{CCSD}}
 mtu 9000
 ip pim sparse-mode
 ip address {{Gait_ip}} 255.255.255.252
 no ip redirects
 no ip proxy-arp
 ip mtu 1524
 ip pim neighbor-filter ACL_PIM_NBR_FILTER_CSC1
 ip pim sparse-mode
 ip access-group ACL_CSC1_PE_IN in
 media-type sfp
 no negotiation auto
 mpls mtu 1538
 mpls bgp forwarding
 mpls flow monitor FLOW_MONITOR_MPLS sampler FLOW_SAMPLER_10_PERCENT input
 mpls flow monitor FLOW_MONITOR_MPLS sampler FLOW_SAMPLER_10_PERCENT output
 service-policy output PMAP_CSC_SHAPE_OUT
 no shutdown
!
interface GigabitEthernet0/0/1
 description DISA CSC-PE - FUTURE DIVERSITY
 mtu 9000
 no ip address
 no ip redirects
 no ip proxy-arp
 ip mtu 1524
 ip pim neighbor-filter ACL_PIM_NBR_FILTER_CSC2
 ip pim sparse-mode
 ip access-group ACL_CSC2_PE_IN in
 media-type sfp
 no negotiation auto
 mpls mtu 1538
 mpls bgp forwarding
 mpls flow monitor FLOW_MONITOR_MPLS sampler FLOW_SAMPLER_10_PERCENT input
 mpls flow monitor FLOW_MONITOR_MPLS sampler FLOW_SAMPLER_10_PERCENT output
 service-policy output PMAP_CSC_SHAPE_OUT
 shutdown
!
interface GigabitEthernet0/0/2
 description UNUSED
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/3
 description UNUSED
 no ip address
 shutdown
 negotiation auto
!
interface Ethernet-Internal1/0/0
 description TO SWITCH G0/18
 no negotiation auto
 no mop enabled
 no mop sysid
 no shutdown
 service instance 380 ethernet
  description MGMT HOST EFP
  encapsulation dot1q 380 exact
  rewrite ingress tag pop 1 symmetric
  service-policy input PMAP_IMPOSE_2_IN
 !
 service instance 400 ethernet
  description TENANT0: PUBLIC IP FOR CMNT/COALITION
  encapsulation dot1q 400 exact
  rewrite ingress tag pop 1 symmetric
  service-policy input PMAP_IMPOSE_0_IN
  shutdown
 !
 service instance 401 ethernet
  description TENANT1: {{hostname}}
  encapsulation dot1q 401 exact
  rewrite ingress tag pop 1 symmetric
  service-policy input PMAP_TOS_TO_EXP
 !
 service instance 402 ethernet
  description TENANT2: UNUSED
  encapsulation dot1q 402 exact
  rewrite ingress tag pop 1 symmetric
  service-policy input PMAP_IMPOSE_0_IN
  shutdown
 !
 service instance 403 ethernet
  description TENANT3: UNUSED
  encapsulation dot1q 403 exact
  rewrite ingress tag pop 1 symmetric
  service-policy input PMAP_IMPOSE_0_IN
  shutdown
 !
 service instance 404 ethernet
  description TENANT4: UNUSED
  encapsulation dot1q 404 exact
  rewrite ingress tag pop 1 symmetric
  service-policy input PMAP_IMPOSE_0_IN
  shutdown
 !
!
interface Ethernet-Internal1/0/1
 description TO SWITCH FOR POWER; DO NOT SHUTDOWN
 no shutdown
 no negotiation auto
 switchport mode trunk
 no mop enabled
 no mop sysid
!
interface GigabitEthernet0
 description UNUSED; SEE BDI380/LOOPBACK1
 vrf forwarding Mgmt-intf
 no ip address
 shutdown
 negotiation auto
!
interface Vlan1
 description UNUSED
 no ip address
 shutdown
!
interface BDI380
 description VPN MGMT BDI
 vrf forwarding VPN_MGMT
 ip address 10.108.{{third_oct}}.78 255.255.255.240
 no ip redirects
 no ip proxy-arp
 ip verify unicast source reachable-via rx 100
 no shutdown
!
interface BDI400
 description TENANT0: PUBLIC IP FOR CMNT/COALITION
 vrf forwarding TENANT0
 no ip address
 no ip redirects
 no ip proxy-arp
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT input
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT output
 ip verify unicast source reachable-via rx
 shutdown
!
interface BDI401
 description TENANT1: {{hostname}}
 vrf forwarding TENANT1
 ip address 10.108.{{third_oct}}.81 255.255.255.248
 no ip redirects
 no ip proxy-arp
 ip pim neighbor-filter ACL_PIM_NBR_FILTER_TENANT1
 ip pim sparse-mode
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT input
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT output
 ip verify unicast source reachable-via rx
 no shutdown
!
interface BDI402
 description TENANT2: UNUSED
 vrf forwarding TENANT2
 ip address 10.108.{{third_oct}}.89 255.255.255.248
 no ip redirects
 no ip proxy-arp
 ip pim neighbor-filter ACL_PIM_NBR_FILTER_TENANT2
 ip pim sparse-mode
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT input
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT output
 ip verify unicast source reachable-via rx
 shutdown
!
interface BDI403
 description TENANT3: UNUSED
 vrf forwarding TENANT3
 ip address 10.108.{{third_oct}}.97 255.255.255.248
 no ip redirects
 no ip proxy-arp
 ip pim neighbor-filter ACL_PIM_NBR_FILTER_TENANT3
 ip pim sparse-mode
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT input
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT output
 ip verify unicast source reachable-via rx
 shutdown
!
interface BDI404
 description TENANT4: UNUSED
 vrf forwarding TENANT4
 ip address 10.108.{{third_oct}}.105 255.255.255.248
 no ip redirects
 no ip proxy-arp
 ip pim neighbor-filter ACL_PIM_NBR_FILTER_TENANT4
 ip pim sparse-mode
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT input
 ip flow monitor FLOW_MONITOR_IPV4 sampler FLOW_SAMPLER_10_PERCENT output
 ip verify unicast source reachable-via rx
 shutdown
!
router bgp 4769
 template peer-policy EBGP_CSC_POLV4
  route-map RM_CSC_CE_IN in
  route-map RM_CSC_CE_OUT out
  send-label
 exit-peer-policy
 !
 template peer-policy IBGP_VPN
  send-community both
  route-map RM_BGP_VPN_IN in
 exit-peer-policy
 !
 template peer-session EBGP_CSC_SESS
  remote-as 27066
  transport connection-mode active
  ! Pacific region must have a hyphen in the password
  ! Other regions must not have a hyphen in the password
  password CCSD{{CCSD}}
  timers 10 40
 exit-peer-session
 !
 template peer-session IBGP_SESS
  remote-as 4769
  transport connection-mode active
  password 7 0522242811737E282A36
  update-source Loopback0
 exit-peer-session
 !
 bgp router-id 10.108.{{third_oct}}.50
 bgp log-neighbor-changes
 bgp update-delay 3
 no bgp default ipv4-unicast
 neighbor 10.125.94.0 inherit peer-session IBGP_SESS
 neighbor 10.125.94.0 description RHN3_PCR1
 neighbor 10.125.94.1 inherit peer-session IBGP_SESS
 neighbor 10.125.94.1 description RHN3_PCR2
 neighbor 10.125.78.0 inherit peer-session IBGP_SESS
 neighbor 10.125.78.0 description RHN5_PCR1
 neighbor 10.125.78.1 inherit peer-session IBGP_SESS
 neighbor 10.125.78.1 description RHN5_PCR2
 neighbor {{Disa_ip}} inherit peer-session EBGP_CSC_SESS
 neighbor {{Disa_ip}} description {{CCSD}}
 !
 address-family ipv4
  bgp aggregate-timer 10
  network 10.108.{{third_oct}}.50 mask 255.255.255.255
  aggregate-address 10.108.{{third_oct}}.128 255.255.255.128 summary-only
  neighbor {{Disa_ip}} activate
  neighbor {{Disa_ip}} inherit peer-policy EBGP_CSC_POLV4
 exit-address-family
 !
 address-family vpnv4
  neighbor 10.125.94.0 activate
  neighbor 10.125.94.0 send-community extended
  neighbor 10.125.94.0 inherit peer-policy IBGP_VPN
  neighbor 10.125.94.1 activate
  neighbor 10.125.94.1 send-community extended
  neighbor 10.125.94.1 inherit peer-policy IBGP_VPN
  neighbor 10.125.78.0 activate
  neighbor 10.125.78.0 send-community extended
  neighbor 10.125.78.0 inherit peer-policy IBGP_VPN
  neighbor 10.125.78.1 activate
  neighbor 10.125.78.1 send-community extended
  neighbor 10.125.78.1 inherit peer-policy IBGP_VPN
 exit-address-family
 !
 address-family ipv4 mdt
  neighbor 10.125.94.0 activate
  neighbor 10.125.94.0 inherit peer-policy IBGP_VPN
  neighbor 10.125.94.1 activate
  neighbor 10.125.94.1 inherit peer-policy IBGP_VPN
  neighbor 10.125.78.0 activate
  neighbor 10.125.78.0 inherit peer-policy IBGP_VPN
  neighbor 10.125.78.1 activate
  neighbor 10.125.78.1 inherit peer-policy IBGP_VPN
 exit-address-family
 !
 address-family vpnv6
  neighbor 10.125.94.0 activate
  neighbor 10.125.94.0 send-community extended
  neighbor 10.125.94.0 inherit peer-policy IBGP_VPN
  neighbor 10.125.94.1 activate
  neighbor 10.125.94.1 send-community extended
  neighbor 10.125.94.1 inherit peer-policy IBGP_VPN
  neighbor 10.125.78.0 activate
  neighbor 10.125.78.0 send-community extended
  neighbor 10.125.78.0 inherit peer-policy IBGP_VPN
  neighbor 10.125.78.1 activate
  neighbor 10.125.78.1 send-community extended
  neighbor 10.125.78.1 inherit peer-policy IBGP_VPN
 exit-address-family
 !
 address-family ipv4 vrf VPN_MGMT
  redistribute connected
 exit-address-family
!
ip access-list logging interval 15000
ip access-list log-update threshold 50
ip local policy route-map RM_LOCAL_MGMT_TRAFFIC
no ip forward-protocol nd
no ip pim autorp
ip pim ssm default
no ip pim vrf TENANT1 autorp
ip pim vrf TENANT1 ssm default
no ip pim vrf TENANT2 autorp
ip pim vrf TENANT2 ssm default
no ip pim vrf TENANT3 autorp
ip pim vrf TENANT3 ssm default
no ip pim vrf TENANT4 autorp
ip pim vrf TENANT4 ssm default
no ip http server
no ip http secure-server
ip tacacs source-interface Loopback1
ip ssh time-out 60
ip ssh authentication-retries 2
ip ssh port 3022 rotary 1
ip ssh source-interface Loopback1
ip ssh logging events
ip ssh version 2
ip ssh dh min size 2048
ip ssh dscp 16
ip ssh server algorithm mac hmac-sha1
ip ssh server algorithm encryption aes256-ctr
ip ssh client algorithm mac hmac-sha1
ip ssh client algorithm encryption aes256-ctr
ip scp server enable
crypto key generate rsa modulus 1024


!
!
ip access-list standard ACL_LINE_AUTOMATION
 remark SSH ACCESS FOR ANSIBLE AUTOMATION
 permit 10.108.3.85 log
 permit 10.108.3.84 log
 permit 10.108.4.71 log
 permit 10.108.255.140 log
 permit 10.108.255.141 log
 deny any log
ip access-list standard ACL_LINE_PROTECTION
 remark SSH PROTECTION FOR THE ROUTER
 permit 10.108.3.64 0.0.0.15 log
 permit 10.108.4.64 0.0.0.15 log
 permit 10.108.5.64 0.0.0.15 log
 permit 10.108.4.208 0.0.0.15 log
 permit 10.108.253.0 0.0.0.255 log
 permit 10.108.255.0 0.0.0.255 log
 deny any log
ip access-list standard ACL_NTP_PEER
 remark ENUMERATE THE NTP SERVERS WHO CAN UPDATE MY CLOCK
 permit 10.108.4.42
 permit 10.108.3.83
 deny any log
ip access-list standard ACL_NTP_SERVE
 remark ENUMERATE THE DEVICES THAT CAN USE ME AS AN NTP SERVER
 deny   any
ip access-list standard ACL_PIM_NBR_FILTER_CSC1
 remark PERMIT THE CSC1 ADDRESS
 permit {{Disa_ip}}
 deny   any log
ip access-list standard ACL_PIM_NBR_FILTER_CSC2
 remark PERMIT THE CSC2 ADDRESS
 deny   any log
ip access-list standard ACL_PIM_NBR_FILTER_TENANT1
 remark PERMIT THE TENANT1 ROUTER ADDRESSES
 deny   any log
ip access-list standard ACL_PIM_NBR_FILTER_TENANT2
 remark PERMIT THE TENANT2 ROUTER ADDRESSES
 deny   any log
ip access-list standard ACL_PIM_NBR_FILTER_TENANT3
 remark PERMIT THE TENANT3 ROUTER ADDRESSES
 deny   any log
ip access-list standard ACL_PIM_NBR_FILTER_TENANT4
 remark PERMIT THE TENANT4 ROUTER ADDRESSES
 deny   any log
ip access-list standard ACL_SNMP_READ_RESTRICTION
 remark CONTROL READ ACCESS TO SNMP INFORMATION
 permit 10.108.3.64 0.0.0.15
 permit 10.108.4.64 0.0.0.31
 permit 10.108.5.64 0.0.0.31
 permit 10.108.255.160 0.0.0.31 
 deny   any log
!
ip access-list extended ACL_ALLOWED_ICMPV4_UNREACHABLES
 remark PERMIT TRACEROUTE REPLIES AND PMTUD
 permit icmp any any time-exceeded
 permit icmp any any port-unreachable
 permit icmp any any packet-too-big
ip access-list extended ACL_CSC1_PE_IN
 remark INFRASTRUCTURE ACL FROM CSC LINK 1
 permit tcp host {{Disa_ip}} eq bgp host {{Gait_ip}}
 deny   tcp any eq bgp host {{Gait_ip}} log
 deny   tcp any host {{Gait_ip}} eq bgp log
 permit ip any any
ip access-list extended ACL_CSC2_PE_IN
 remark INFRASTRUCTURE ACL FROM CSC LINK 2
 permit ip any any
ip access-list extended ACL_DENIED_ICMPV4_UNREACHABLES
 permit icmp any any unreachable
ip access-list extended ACL_ICMPV4_PING
 permit icmp any any echo
ip access-list extended ACL_IPSEC_AH
 remark MATCH ANY IPSEC AH TRAFFIC (COMMERCIAL VPN ONLY)
 permit ahp any any
ip access-list extended ACL_IPV4_FRAGMENTS
 permit ip any any fragments
ip access-list extended ACL_IPV4_OPTIONS
 permit ip any any option any-options
ip access-list extended ACL_LOCAL_PBR
 remark MARKING ACL FOR OAM TRAFFIC
 permit tcp any any eq tacacs
!
!
ip prefix-list PL_LOCAL_NETWORKS seq 5 permit 10.108.{{third_oct}}.0/24 le 32
!
ip prefix-list PL_LOCAL_TRANSITS seq 5 permit {{csc}} le 32
ip sla key-chain KC_IP_SLA
ip sla responder
ip sla logging traps
ip sla enable reaction-alerts
logging history informational
no logging trap
logging origin-id hostname
logging snmp-trap emergencies
logging snmp-trap alerts
logging snmp-trap critical
logging snmp-trap errors
logging snmp-trap warnings
logging snmp-trap notifications
logging snmp-trap informational
access-list 100 remark URPF LOGGER
access-list 100 deny   ip any any log
!
ip bgp-community new-format
!
ip community-list expanded CL_LP_FROM_RHN1 permit 4769:1800[1-9]
ip community-list expanded CL_LP_FROM_RHN2 permit 4769:2800[1-9]
ip community-list expanded CL_LP_FROM_RHN3 permit 4769:3800[1-9]
ip community-list expanded CL_LP_FROM_RHN4 permit 4769:4800[1-9]
ip community-list expanded CL_LP_FROM_RHN5 permit 4769:5800[1-9]
!
route-map RM_SET_COMM permit 10
 description SET COMMUNITIES TO ADJUST AS PREPENDING
 set community 4769:38000 4769:58030
!
route-map RM_BGP_VPN_IN permit 10
 description SELECT PRIMARY CMNT EGRESS SITE -- RHN3
 match community CL_LP_FROM_RHN3
 set local-preference 130
route-map RM_BGP_VPN_IN permit 20
 description SELECT SECONDARY CMNT EGRESS SITE -- RHN5
 match community CL_LP_FROM_RHN5
 set local-preference 120
route-map RM_BGP_VPN_IN permit 1000
 description PERMIT ALL REMAINING NON-CMNT ROUTES
!
route-map RM_CSC_CE_IN deny 10
 match ip address prefix-list PL_LOCAL_NETWORKS
!
route-map RM_CSC_CE_IN deny 20
 match ip address prefix-list PL_LOCAL_TRANSITS
!
route-map RM_CSC_CE_IN permit 100
 match mpls-label
!
route-map RM_LOCAL_MGMT_TRAFFIC permit 10
 description MARK LOCAL MANAGEMENT TRAFFIC WITH IPP2
 match ip address ACL_LOCAL_PBR
 set ip precedence immediate
 set vrf VPN_MGMT
 set interface Loopback1
!
route-map RM_CSC_CE_OUT permit 10
 match ip address prefix-list PL_LOCAL_NETWORKS
 set mpls-label
!
snmp-server group READv3Group v3 priv read V3VIEW access ACL_SNMP_READ_RESTRICTION
snmp-server view V3VIEW iso included
snmp-server trap-source Loopback1
snmp-server source-interface informs Loopback1
snmp-server ip dscp 16
snmp-server contact GAITNOC: 910-778-8408/8409
snmp-server enable traps syslog
snmp-server user READv3User READv3Group v3 auth sha 12345678 priv aes 128 12345678
snmp-server host 10.108.3.66 vrf VPN_MGMT version 3 priv READv3User  syslog
snmp-server host 10.108.4.66 vrf VPN_MGMT version 3 priv READv3User  syslog
snmp-server host 10.108.5.66 vrf VPN_MGMT version 3 priv READv3User  syslog
snmp-server host 10.108.255.165 vrf VPN_MGMT version 3 priv READv3User  syslog
snmp ifmib ifindex persist
!
tacacs server ISE_APG_6010
 address ipv4 10.108.3.81
 key 7 053F272C006F7D36383530
 timeout 1
tacacs server ISE_GAITNOC_BRAGG
 address ipv4 10.108.5.81
 key 7 142333282D271914051814
 timeout 1
!
!
!
ipv6 access-list ACL_ALLOWED_ICMPV6_UNREACHABLES
 remark PERMIT TRACEROUTE REPLIES AND PMTUD
 permit icmp any any time-exceeded
 permit icmp any any port-unreachable
 permit icmp any any packet-too-big
!
ipv6 access-list ACL_DENIED_ICMPV6_UNREACHABLES
 permit icmp any any unreachable
!
ipv6 access-list ACL_DENY_ANY_IPV6
 deny ipv6 any any log
!
ipv6 access-list ACL_ICMPV6_PING
 permit icmp any any echo-request
!
ipv6 access-list ACL_IPV6_COMMON_EH
 permit ipv6 any any auth
 permit ipv6 any any dest-option
 permit ipv6 any any hbh
 permit ipv6 any any mobility
 permit ipv6 any any routing
!
ipv6 access-list ACL_IPV6_FRAGMENTS
 permit ipv6 any any fragments
!
ipv6 access-list ACL_IPV6_ND
 permit icmp any any nd-na
 permit icmp any any nd-ns
 permit icmp any any router-solicitation
 permit icmp any any router-advertisement
!
control-plane
 service-policy input PMAP_CPP_IN
 service-policy output PMAP_CPP_OUT
!
banner exec %
If SNMPv3 is not functioning, ensure users exist with the correct credentials:

snmp-server user READv3User READv3Group v3 auth sha [authPass] priv aes 128 [privPass]

Verify the users exist with "show snmp user"
%
banner motd %
"YOU ARE ACCESSING A U.S. GOVERNMENT (USG) INFORMATION SYSTEM (IS)
THAT IS PROVIDED FOR USG-AUTHORIZED USE ONLY.
By using this IS (which includes any device attached to this IS),
you consent to the following conditions:
1. The USG routinely intercepts and monitors communications on this IS for
purposes including, but not limited to, penetration testing, COMSEC monitoring,
network operations and defense, personnel misconduct (PM), law enforcement
(LE), and counterintelligence (CI) investigations.
2. At any time, the USG may inspect and seize data stored on this IS.
3. Communications using, or data stored on, this IS are not private, are
subject to routine monitoring, interception, and search, and may be disclosed
or used for any USG authorized purpose.
4. This IS includes security measures (eg, authentication and access controls)
to protect USG interests--not for your personal benefit or privacy.
5. Notwithstanding the above, using this IS does not constitute consent to
PM, LE or CI investigative searching or monitoring of the content of privileged
communications, or work product, related to personal representation or services
by attorneys, psychotherapists, or clergy, and their assistants. Such
communications and work product are private and confidential.
See User Agreement for details."
%
alias exec tso more bootflash:/tso.txt
alias exec sw hw-module session 1/0
!
line con 0
 exec-timeout 9 0
 authorization exec AUTHZ_EXEC
 logging synchronous
 login authentication AUTHC_LOGIN
 history size 256
 transport preferred none
 transport output ssh
 stopbits 1
line aux 0
 no exec
 stopbits 1
line vty 0 3
 access-class ACL_LINE_PROTECTION in vrf-also
 exec-timeout 9 0
 ipv6 access-class ACL_DENY_ANY_IPV6 in
 authorization commands 1 AUTHZ_CMD1
 authorization commands 15 AUTHZ_CMD15
 authorization exec AUTHZ_EXEC
 login authentication AUTHC_LOGIN
 history size 256
 transport preferred none
 transport input ssh
 transport output ssh
line vty 4
 access-class ACL_LINE_AUTOMATION in vrf-also
 no motd-banner
 no exec-banner
 exec-timeout 2 0
 ipv6 access-class ACL_DENY_ANY_IPV6 in
 authorization commands 1 AUTHZ_CMD1
 authorization commands 15 AUTHZ_CMD15
 authorization exec AUTHZ_EXEC
 login authentication AUTHC_LOGIN
 rotary 1
 length 0
 width 0
 history size 256
 transport preferred none
 transport input ssh
 transport output none
line vty 5 15
 no exec
!
ntp logging
ntp authentication-key 1 md5 052829230E7E622C2A36 7
ntp authentication-key 2 md5 02252B77243423047F7D5B 7
ntp authentication-key 3 md5 02252B77243423047F7D5A 7
ntp authenticate
ntp trusted-key 1
ntp trusted-key 2
ntp trusted-key 3
ntp source Loopback1
ntp access-group peer ACL_NTP_PEER
ntp access-group serve ACL_NTP_SERVE
ntp server vrf VPN_MGMT 10.108.3.83 key 1
ntp server vrf VPN_MGMT 10.108.4.83 key 2 prefer
ntp server vrf VPN_MGMT 10.108.4.42 key 3
!








